.card {
  box-sizing: content-box;
  height: 300px;
  width: 260px;
  display: inline-block;
  margin: 5px 20px;
  vertical-align: top;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.card__icon {
  margin-top: 4em;
  max-height: 50%;
  width: 100%;
}

.card__info {
  padding: 10px;
  height: 90px;
  overflow: hidden;
}

.card__info__h4 {
  font-size: 1.4em;
  font-weight: 300;
  margin: 0;
}
